<div class="card">
 “This project is my own original work and the work described has not been submitted elsewhere in fulfilment of the requirements of this or any other award.” - Vimal Sajjan (S1906428)
</div>
<div class="row m-auto links">

<a href="https://www.kaggle.com/vimalsajjan/ipldata/" target="_blank">
	<div class="m-3">
			<input required type="submit" class="btn btn-success" value="Kaggle - Dataset">
	</div>
</a>
	<a href="https://github.com/vimalsajjan/IPL" target="_blank">
	<div class="m-3">
			<input required type="submit" class="btn btn-success" value="GitHub - Code">
	</div>
</a>
</div>